/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Corpo */
body {
  font-family: "Montserrat", sans-serif;
  background: #111;
  color: #ffff
}

/* Cabeçalho */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #111;
  background: #222;
  padding: 20px;
  text-align: center;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  padding: 0;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  transition: color 0.3s;
}

header ul li a:hover {
  color: #f39c12;
}

header .titulo {
  font-family: "Gravitas One", serif;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
  color: #f39c12;
}

.busca{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  background-color: #111;
  border-radius: 30px;
  overflow: hidden;
  width: 300px;
  transition: all 0.3 ease;
}

.busca input{
  width: 300px;
  flex: 1;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 1rem;
  background-color: transparent;
  color: #222;

}

.busca button {
  background-color:#222;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  color: #111;
  transition: background 0.3;

}

.busca button:hover {
  background-color: #f39c12
}

/* Cards */
.cards {
  display: flex;
  min-width: 200px;
  flex: 0 0 auto;
  gap: 20px;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 10px;
  transition: transform 300ms ease;
  will-change: transform;
}

.cards::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}

.card {
  background: #1a1a1a;
  display: inline-block;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(1.0);
  flex: 0 0 auto;
  flex-shrink: 0;
}

.card.active {
  transform: scale(1.1);
  filter: brightness(1.1);
  z-index: 2;
}

.card:hover {
  transform: scale(1.05);
  border: 2px solid #f39c12;
  z-index: 5;
}

/* Poster */
.poster {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  z-index: 1; /* garante que fique acima do fundo */
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.poster:hover img {
  transform: scale(1.1);
  z-index: 5;
}

/* Título e botão */
.card h2 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #fff;
}

.card button {
  padding: 10px 15px;
  background: #f39c12;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background: #d35400;
}

.carrossel {
  position: relative; /* referência para os botões absolutos */
  overflow: hidden;   /* remove barra de rolagem */
  margin: 50px auto;
  width: 90%;
  max-width: 1100px;
}

.viewport {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.btn {
  position: absolute; /* muda de relative para absolute */
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  z-index: 20;
  transition: background 0.3s;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}

.prev {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  z-index: 10;
}

.next {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 10;
}

main {
display: flex;
justify-content: center;
align-items: center;
padding: 40px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
    min-width: 180px;
  }

  .btn {
    font-size: 1.5rem;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .card {
    min-width: 150px;
  }

  h2 {
    font-size: 1rem;
  }
}
